@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;


  /*Default Body Styles*/


  /*Default Container Styles*/
  --container-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  --container-border-radius: 3px;

  /*Default Container Gradient*/
  --gradient-linear-bottom: linear-gradient(to bottom, #A6FA7E, rgba(240, 144, 0, 0.15));

  /*Background Gradient*/
  --gradient-circle: radial-gradient(circle, #0000ff, #ffffff);


  --analog-green: #A6FA7E;
  --primary-green: #84F84D;
  --secondary-green: #62F61C;
  --tertiary-green: #4BD609;

  --analog-blue: #7EE3FA;
  --primary-blue: #4DD8F8;
  --secondary-blue: #1CCDF6;
  --tertiary-blue: #09B0D6;

  --analog-orange: #FF9A51;
  --primary-orange: #FF7C1E;
  --secondary-orange: #EA6200;
  --tertiary-orange: #DB5C00;


  --light-gray: #F6F6F6;
  --light-medium-gray: #C2C2C2;
  --medium-gray: #B7B7B7;
  --dark-gray: #5C5C5C;

  --primary-font-size: 14px;
  --small-font-size: 12px;
  --smaller-font-size: 10px;
}

/* AO UTILIZAR OS ESTILOS ABAIXO, SERÁ NECESSÁRIO ATRIBUIR OS LINKS E IMPORTS NO CÓDIGO HTML:

--------------------------------------------------- LINKS ------------------------------------------------------------

  <link rel="stylesheet" href="../../bootstrap-5.2.3-dist/css/bootstrap.min.css">
  <script src="bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="style/COMPONENT-NAME.module.css">
  <link rel="stylesheet" href="../../style/global.css">
  <link rel="icon" type="image/png" href="../../public/favicon.ico">

  --------------------------------------------------- LINKS ------------------------------------------------------------*/

/*--------------------------------------------------- HEADER CODIGO -----------------------------------------------------------

    <header class="nav-box-background">
        <nav class="navbar navbar-expand-lg">
             <a class="navbar-brand" href="../userArea/index.html">
              <div class="username-container">
                <img src="../../img/perfil.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <span>John Doe</span>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Nova coleta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Historico de coletas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Meus Projetos</a>
                    </li>

                </ul>
            </div>
    </header>

    */


/* ------------------ HEADER CSS -------------------------------------------------- */

.username-container {
  font-size: var(--primary-font-size);
  display: flex;
  align-items: center;
  margin: 0 20px
}

.username-container span {
  margin: 0 10px
}

.navbar-toggler {
  margin: 0 20px 0 0;
}

.nav-box-background {
  background: white;
  box-shadow: var(--container-box-shadow);
}

.navbar {
  background: var(--gradient-linear-bottom);
}

/* ------------------------------------------------------------------------ */

/*--------------------------------------------------- FOOTER CODIGO -----------------------------------------------------------

    <footer class="footer-container">
      <img src="../../img/Vector.svg" alt="">
      <img src="../../img/notification-bell.svg" alt="">
    </footer>

    */

/* ------------------ FOOTER CSS -------------------------------------------------- */

.footer-container {
  background-color: #5c5c5c;
  padding: 16px 0 16px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-container img {
  width: 16px;
}

/* ------------------------------------------------------------------------ */

/*--------------------------------------------------- DEFAULT CONTAINER (WHITE BG) CODIGO -----------------------------------------------------------

      NAS PAGINAS QUE FOR NECESSÁRIO, IMPORTAR:
    
    <script src="../../jquery/swipeMenu.js"></script>


      <div class="container">
        <div class="container-content active-section">
          PRIMEIRO CONTEÚDO ATIVO
        </div>
      <div class="container-content">
          SEGUNDO CONTEUDO
      </div>

    */

/* ------------------ DEFAULT CONTAINER (WHITE BG) CSS -------------------------------------------------- */

.container-content {
  top: 0;
  left: 0;

  display: none;
  transition: transform 0.3s ease-in-out;
}

.container-content.active-section {
  display: block;
  transform: translateX(0);
}

.container-content.next-section {
  transform: translateX(100%);
}

.container-content.prev-section {
  transform: translateX(-100%);
}

.container {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  box-shadow: var(--container-box-shadow);
  margin: 10px 9px;
}

/* ------------------------------------------------------------------------ */
/*--------------------------------------------------- DOT MENU CODIGO -----------------------------------------------------------
    NAS PAGINAS QUE FOR NECESSÁRIO, IMPORTAR:

    <script src="../../jquery/swipeMenu.js"></script>


     <div class="dot-menu">
      NÂO HÁ NECESSIDADE DE ADICIONAR ELEMENTOS AQUI, COM O JQUERY JÁ ESTAMOS MAPEANDO AS TAGS CONTAINER-CONTENT
    </div>

    */

/* ------------------ DOT MENU CSS -------------------------------------------------- */

.dot-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.dot {
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background-color: #555;
}

/* ------------------------------------------------------------------------ */